<div>
    <span class="header">Projects</span>
    <div style="
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <div class="content">
            <h3 class="projectheader">My Resume</h3>
            <p>
                <span><img src="assets/resume.png" width="40%"></span>
                <span>A web application developed using Angular based on my resume.</span><br />
                <span>Github: <a href="https://github.com/joey-peh/joey-profile"
                        target="_blank">https://github.com/joey-peh/joey-profile</a></span>
                <span>Web App: <a href="https://joey-profile.web.app"
                        target="_blank">https://joey-profile.web.app</a></span>
            </p>
        </div>
        <mat-divider></mat-divider>
        <div class="content">
            <h3 class="projectheader">Github Search Engine</h3>
            <p>
                <span><img src="assets/gitsearch.png" width="40%"></span>
                <span>A web search engine based on Github API developed using VueJS. <br />This web application
                    only has
                    one
                    component <a href="https://github.com/joey-peh/SEARCH_Frontend/tree/master/src/components"
                        target="_blank">(SearchRepository)</a>.
                </span><br />
                <span>Github: <a href="https://github.com/joey-peh/SEARCH_Frontend"
                        target="_blank">https://github.com/joey-peh/SEARCH_Frontend</a></span>
                <span>Web App: <a href="https://git-search-engine.web.app"
                        target="_blank">https://git-search-engine.web.app</a></span>
            </p>
        </div>
    </div>
</div>