<div>
    <h1>Employment History</h1>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-content">
                <div>
                    <div class="timeline-date" style="float:right;">May 2022 - Current</div>
                    <div class="timeline-date">
                        <p class=" special-font">SOFTWARE ENGINEER<br />
                            Inland Revenue Authority of Singapore</p>
                    </div>
                </div>
                <div class="timeline-description">
                    <ul>
                        <li>Developed UX components using AngularTS to enhance overall usability.<br /></li>
                        <li>Created micro services using C# .NET to build scalable and efficient software
                            solutions.<br />
                        </li>
                        <li>Performed comprehensive regression testing to detect and rectify software defects, ensuring
                            high-quality code.<br /></li>
                        <li>Successfully integrated new Kafka topics into the existing system, enhancing data processing
                            capabilities.<br /></li>
                        <li>Actively participated in SCRUM methodologies as a cohesive team member, contributing to
                            sprint
                            planning, daily stand-up meetings, and retrospective sessions.<br /></li>
                        <li>Collaborated effectively with external vendors to achieve project goals and maintain
                            alignment
                            with business objectives.<br /></li>
                        <li>Assumed a mentoring role, offering guidance and support to new team members.<br /></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-content">
                <div>
                    <div class="timeline-date" style="float:right;">March 2020 - January 2022</div>

                    <div class="timeline-date">
                        <p class="special-font">SOFTWARE ENGINEER<br />
                            ST Engineering</p>
                    </div>
                </div>
                <div class="timeline-description">
                    <ul>
                        <li>Collaborated closely with the SCRUM development team to deliver various epics within sprint
                            cycles, fostering seamless teamwork alongside other developers and engineers from the client
                            company.</li>
                        <li>Designed and implemented UI/UX components using VueJS, enhancing the user interface and
                            experience of the software.</li>
                        <li>Developed micro services using Java Spring Boot to create robust and efficient software
                            solutions.</li>
                        <li>Ensured code quality and reliability by writing JUnit tests for every use case
                            implementation.
                        </li>
                        <li>Developed Java Spring Boot automation tools to facilitate data synchronization between the
                            current system and the proposed system.</li>
                        <li>Designed and implemented data migration tools for seamless transition from Oracle to
                            MongoDB.
                        </li>
                        <li>Developed a versatile email library for message publishing and consumption in RabbitMQ.</li>
                        <li>Improved the performance of the current system by refactoring existing code and implementing
                            caching and multi-threading techniques.</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-content">
                <div>
                    <div class="timeline-date" style="float:right;">August 2018 -
                        December 2018</div>
                    <div class="timeline-date">
                        <p class=" special-font">INTERN<br />
                            PSA Singapore</p>
                    </div>
                </div>
                <div class="timeline-description">
                    <ul>
                        <li>Developed a plug-and-play application utilizing the Managed Extensibility Framework (MEF) in
                            C#.</li>
                        <li>Played a key role in the development of a helpdesk chatbot based on Keyword Recognition.
                        </li>
                        <li>Designed and created a user interface (UI) using JavaScript, HTML5, and CSS.</li>
                        <li>Continuously improved my knowledge of software engineering processes and best practices.
                        </li>
                    </ul>
                </div>
            </div>
        </div><br /><br />
    </div>
</div>