<div>
    <h1>About me</h1>
    <mat-card style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <mat-card-content>
            <div class="parent">
                <div class="child"><img class="circle-img" src="assets/joey.jpg"></div>
                <div class="child">
                    <p>Hi! My name is Joey. I am a full-stack software engineer with more than 3 years of working
                        experience. I know..
                    </p>
                    <mat-chip-listbox>
                        <mat-chip *ngFor="let tag of tags">
                            {{tag}}
                        </mat-chip>
                    </mat-chip-listbox>
                    <p>... and many more! I consider myself a fast learner and enjoy picking up new
                        skillsets.</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>