.header-sticky {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: inherit;
}

.content {
    margin-top: 100px;
    padding: 0 15px;
    width: 100%;
    z-index: 5;
    overflow: hidden !important;
}