<mat-toolbar>
    <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">About</a>
        </li>
        <li><a routerLink="/employment-history" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Employment
                History</a></li>
        <li><a routerLink="/education" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Education</a></li>
        <li><a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Projects</a></li>
    </ul>
</mat-toolbar>