ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Julius Sans One;
}

ul li {
    display: inline-block;
    padding: 10px
}

ul li a {
    text-decoration: none;
    color: black;
}

.active {
    color: #A49393 !important;
}

@media only screen and (min-width: 701px) {

    /* hide the hamburger */
    .hamburger {
        display: none;
    }

    /* show all the nav-buttons */
    .nav-bar {
        display: block;
    }
}

/* if browser window is small (max-width) */

@media only screen and (max-width: 700px) {

    /* show everything with the hamburger class */
    .hamburger {
        display: block;
    }

    /* hide all the nav-buttons */
    .nav-bar {
        display: none;
    }
}