<div>
    <h1>My Education</h1>
    <div class="timeline">
        <div class="container left">
            <div class="content">
                <h4>August 2016 - March 2020</h4>
                <mat-divider></mat-divider>
                <div class="special-font">
                    <h4>Nanyang Technological University</h4>
                    Bachelor of Engineering (Computer Science), Honours with an
                    Elective Focus in Data Science and Analytics
                </div>
            </div>
        </div>
        <div class=" container right">
            <div class="content">
                <h4>April 2013 - April 2016</h4>
                <mat-divider></mat-divider>
                <div class="special-font">
                    <h4>Nanyang Polytechnic</h4>
                    Diploma in Business Informatics with Merit
                </div>
                <div style="font-size: 15px;">
                    <ul>
                        <li>Graduated in top 10% of the cohort</li>
                        <li>Admitted to Dean’s list for 5 consecutive semesters</li>
                        <li>GPA Obtained: 3.8/4.0</li>
                        <li>Four distinctions in:
                            <ul>
                                <li>Web Application Development</li>
                                <li>Networking Technology</li>
                                <li>Enterprise Application</li>
                                <li>Business Intelligence and Analytics</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>